/* 
    Created on : Apr 9, 2018, 8:49:15 PM
    Author     : Tiffany Holden
    VirusTotal Group
*/

#dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
}

#dataTable td, #dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #003300;
    color: whitesmoke;
}

.logo {
    height:90px;
    width:90px;
    display: inline-block;
    vertical-align: middle;
}

body {
    background-color: #006666;
    text-align: center;
}

#wrapper {
    background-color: #003300;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

.app-header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    font-weight: normal;
    color: whitesmoke;
    display: inline-block;
}

.search {
    display: inline-block;
    overflow: hidden;
    background-color: #003300;
    font-family: Arial, Helvetica, sans-serif;
}

.search-container {
    display: inline-block;
    vertical-align: middle;
}

.search input[type=text] {
    padding: 6px;
    margin-left: 20px;
    margin-bottom:30px;
    font-size: 14px;
    border: none;
}

.search .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    background: #003300;
    font-size: 20px;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.search .search-container button:hover {
    background: #999999;
}

div {
    margin:auto;
}

button {
    color: whitesmoke;
}

.show {
    display: block;
}

.ScanClean {
    color: green;
    text-decoration: none;
}

.ScanMalicious {
    color: red;
    text-decoration: none;
}

.Unscanned {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.ScanInProgress {
    color: orange;
    text-decoration: none;
}
